<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      style="background-color: transparent; border: none"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left: 1vw">Blog Dashboard</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      (click)="logout()"
      style="background-color: transparent; border: none"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
