<p>
  <mat-toolbar class="app-toolbar" color="primary">
    <span>Blog Dashboard</span>
    <button class="btn" (click)="viewCategories()"> Categories</button>
    <button class="btn" (click)="viewPosts()"> Posts</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" (click)="logout()" style="background-color: transparent; border: none" >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>

<!-- <ag-grid-angular
#agGrid
style="padding: 4vw; height: 60vh; width: 60vw; margin-left: 18vw"
class="ag-theme-alpine"
[rowData]="rowData"
[rowSelection]="'single'"
[columnDefs]="columnDefs"
>
</ag-grid-angular> -->

<label for="site-search">Search for posts:</label>
<input type="search"   [(ngModel)]="searchText" name="q"
       aria-label="Search through site content">

<button (click)="search()">Search</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of rowData">
    <td>{{post.postId}}</td>
    <td>{{post.title}}</td>
    <td>{{post.body}}</td>
  </tr>
  </tbody>
</table>