<p>
    <mat-toolbar class="app-toolbar" color="primary">
      <span>Categories</span>
      <button class="btn" (click)="NewCategory()"> New Category</button>
      <button class="btn" (click)="viewPosts()"> Posts</button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" (click)="logout()" style="background-color: transparent; border: none" >
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <ag-grid-angular 
    style="padding: 6vw;height: 60vh;width: 60vw;" 
    class="ag-theme-alpine"
    [rowData]="rowData" 
    [columnDefs]="columnDefs">
</ag-grid-angular>
  
